*{
  position: relative;
  margin:0;
  padding:0;
  font-family: "system-ui";
  box-sizing: border-box;
  font-size: 14px ;
  z-index: 5;
}
.page{
  width: 793.7013px;
  margin:0 auto;
}
.page-box{
}
.page-box__item{
  overflow: hidden;
  margin-bottom: 3px;
}
.page-box__img{
  height: 100%;
  z-index: -1;
}
.page-box__img img{
  height: auto;
  width: 100%;
}
.page-box__item .ticket1{
  height: 90px;
  width: 90px;
  background-color: #fff;
  z-index: 10;
  position: absolute;
  right: 26px;
  bottom: 75px;
}
.page-box__item .num1{
  position: absolute;
  left: 284px;
  bottom: 18px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 54px;
}
.page-box__item .ticket2{
  height: 45px;
  width: 45px;
  background-color: #fff;
  z-index: 10;
  position: absolute;
  left: 19px;
  bottom: 149px;
}
.page-box__item .num2{
  position: absolute;
  left: 23px;
  bottom: 136px;
  font-size: 9px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  width: 35px;
}